.ActionCompact span {
    cursor: pointer;
    margin: 5px 7px;
    text-align: center;
    transition-duration: 0.1s;
    transition-property: transform;
  }

  .ActionCompact span:hover {
    transform: scale(1.1);
  }

  .ActionCompact .ActionsName {
    font-size: 6.1vw;    
  }
  .ActionCompact .ActionsNameCompact {
    font-size: 7.25vw;    
  }
  
  .ActionCompact .ActionsInfo {
    border-color: #3498DB;
    color: #3498DB;
  }
  
  .ActionCompact .ActionsEditCompact {
    font-size: 7.25vw;    
  }

  .ActionCompact .ActionsDelete {
    border-color: #B7477D;
    color: #B7477D;
  }
  .ActionCompact .ActionsDeleteCompact {
    border-color: #B7477D;
    color: #B7477D;
    font-size: 7.25vw;    
  }
.Actions span {
    border-radius: 150%;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    height: 25px;
    margin: 5px 15px 5px 15px;
    padding-top: 6px;
    text-align: center;
    transition-duration: 0.1s;
    transition-property: transform;
    width: 33px;
  }
  
  .Actions span:hover {
    transform: scale(1.1);
  }
  
  .Actions .ActionsInfo {
    border-color: #3498DB;
    color: #3498DB;
  }
  
  .Actions .ActionsDelete {
    border-color: #B7477D;
    color: #B7477D;
  }.Button {
    background-color: #6f001b;
    border-radius: 28px;
    border: 0;
    box-shadow: 0px 1px 1px #d9d9d9;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 15px;
    text-decoration: none;
    transition-duration: 0.1s;
    transition-property: transform;
}
.Button:hover {
    transform: scale(1.1);
}
.Dialog {
    border: 1px solid lightgray;
  }
  
  .DialogModalOpen {
    overflow: hidden; /* no body scroll */
  }
  
  .Dialog .DialogHeader {
    background-color: #6F001B;
    color: #F0F0F0;
    font-family: Norican, cursive;
    font-size: 42px;
    margin: 0;
    padding: 10px 10px 10px 20px;
    text-align: left;
  }
  
  .Dialog .DialogBody {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    max-height: 50vh;
    overflow-x: hidden;
    padding: 10px 30px 30px 30px;
    text-align: center;
    font-size: 18px;
  }
  
  .Dialog .DialogFooter {
    padding: 10px;
    text-align: right;
  }
  
  .DialogModal {
      background: rgba(0, 0, 0, 0.7);
      bottom: 0;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: 1;
  }
  
  .DialogModal .DialogModalWrap {
      background: white;
      margin: 5% auto;
      width: 350px;
  }
  
  .DialogDismiss {
    color: gray;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .DialogFooter .Button {
    margin: 10px;
  }.Excel input {
    font: 16px Arial;
    /* font-size:10vw; */
  }
  
  .Excel td {
    background-color: #ffffff;
    padding: 5px;
    /* font-size: 1.4vw; */
  }
  /* .Excel .ExceltdMobile {
    font-size: 14vw;
  } */

  .Excel th {
    color: #e01e1e;
    cursor: pointer;
    font-size: 13px;
    /* font-size: 1.7vw; */
    font-weight: normal;
    padding: 5px;
    text-align: center;
  }
  
  .Excel table {
    width: 100%;
  }
  
  .Excel .ExcelNotSortable {
    cursor: default;
  }
  
  .Excel .ExcelEditable {
    cursor: cell;
  }
  
  .Excel .ExcelEditable:hover {
    background: #FBFBFB;
  }
  
  .Excel .ExcelDataCenter {
    text-align: center;
  }
  /* @media screen and (min-width: 501px) {
    .Excel .ExcelDataCenter {
      font-size: 8.25vw;
    }
  }
  @media screen and (max-width: 500px) {
    .Excel .ExcelDataCenter {
      font-size: 6.1vw;
    }
  } */
  
  .Excel .ExcelDataLeft {
    padding: 0 10px;
    text-align: left;
  }
  
  .Excel .ExcelDataRight {
    text-align: right;
  }
  .FileSelector {
  display: inline;
}

.FileSelector .FileSelectorButton {
  font-size: 16px;
}.Form .FormLabel {
    color: rgb(207, 8, 8);
    display: block;
    font-size: 12px;
    padding: 12px 0 6px;
  }
  
  .Form .FormRow {
    padding-left: 20px;
    text-align: left;
  }

  .Form .FormTextArea {
    width: 78%;
  }.FormInput {
  background: gold
}
.Logo {
  background-image: url('images/desk_2.png');
  background-size: cover;
  display: inline-block;
  height: 60px;
  vertical-align: middle;
  width: 100px;
}.Password {
    font-size: 12px;
    padding: 3px;
    border: 2px solid red;
    border-radius: 5px;
}

.Password .PasswordModeCheckbox {
    justify-content: right;
    background-color: #6f001b;
    border-radius: 28px;
    border: 0;
    box-shadow: 0px 1px 1px #d9d9d9;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 15px;
    text-decoration: none;
    transition-duration: 0.1s;
    transition-property: transform;
}
.Password .PasswordModeCheckbox:hover {
    transform: scale(1.1);
}

.Password .PasswordLabel {
    width: 77px;
    /* display: -webkit-inline-box; */
}

.Password .PasswordInput {
    /* left: 120px; */
    position: relative;
}

.Password .PasswordCheckbox {
    /* left: 300px; */
    position: relative;
}/* thanks to https://css-tricks.com/star-ratings/ */
.Rating {
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    font-size: 28px;
  }
  
  .Rating.RatingReadonly{
    cursor: auto;
  }
  
  .Rating > span {
    color: grey;
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  
  .Rating .RatingOn:before {
     color: gold;
     content: "\2605";
     left: 0; 
     padding: 1px;
     position: absolute;
  }
  .Suggest {
    background-color: #4ba8b4;
}

.Workpad .WorkpadToolbar {
    font: 16px Arial;
}
@media screen and (min-width: 501px) {
  .Workpad .WorkpadToolbar {
    margin: 40px;
  }
}
@media screen and (max-width: 500px) {
  .Workpad .WorkpadToolbar {
    margin: 10px;
  }
}

.Workpad .WorkpadDatagrid {
  clear: both;
  padding-top: 20px;
}
@media screen and (min-width: 501px) {
  .Workpad .WorkpadDatagrid {
    margin: 40px;
  }
}
@media screen and (max-width: 500px) {
  .Workpad .WorkpadDatagrid {
    margin: 10px;
  }
}
  
  .Workpad .WorkpadToolbarAdd {
    float: left;
  }
  .Workpad .WorkpadToolbarSearch {
    float: right;
  }
  .Workpad .WorkpadToolbarImportExport {
    display: block;
  }
  .Workpad .WorkpadToolbarAddButton {
    font-size: 16px;
  }
  .Workpad .WorkpadToolbarDelButton {
    font-size: 16px;
  }
  .Workpad .WorkpadToolbarExportButton {
    font-size: 16px;
  }

  
  html {
  background: rgb(5, 129, 190);
  font: 26px Arial;
}

.schema-name {
    color: #333333;
    /* font-size: 18px; */
    font-size: 18px;
    font-weight: bold;
  }
  
  .schema-link {
    color: rgb(207, 36, 170);
    font-size: 16px;
  }

  .schema-year {
    color: gray;
    font-size: 16px;
  }
  
  .schema-grape {
    color: #921130;
    font-size: 16px;
    font-weight: bold;
  }
