.Whinepad .WhinepadToolbar {
    margin: 40px;
    font: 16px Arial;
  }
  
  .Whinepad .WhinepadToolbarAdd {
    float: left;
  }
  
  .Whinepad .WhinepadToolbarSearch {
    float: right;
  }

  .Whinepad .WhinepadToolbarImportExport {
    display: block;
  }

  .Whinepad .WhinepadToolbarAddButton {
    font-size: 32px;
  }
  
  .Whinepad .WhinepadToolbarExportButton {
    font-size: 16px;
  }

  .Whinepad .WhinepadDatagrid {
    clear: both;
    margin: 40px;
    padding-top: 20px;
  }
  
  